body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.header{
    width: 100%;
    position: absolute;
    margin-top: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    border-radius: 10px;
}
.nav{
    display: flex;
    font-size: 20px;

}
.nav_link{
    vertical-align: top;
    margin: 0 0 0 40px;

    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;

    transition: color .2s linear;
}
.nav_link:hover{
    color: #7c7c7c;
}
.name{
    vertical-align: top;
    margin: 0 0 0 40px;

    color: #FFFFFF;
    text-decoration: none;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url("/img/RecordDentist Background.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.register-form-container {

    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 30px;
}
.register-form-container2 {

    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 30px
}
h1{
    text-align: center;
    margin-bottom: 15px;
}
h2{
    text-align: center;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 60px;
}
.container-inormation{
    display: flex;
    justify-content: space-between;


    background: rgb(255, 255, 255);
    border-radius: 10px;

    margin-top: 15px;
    margin-right: 25px;
}
.container-h2{
    display: flex;
}
.inormation{
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 15px;

}
.button-inormation{

    padding: 10px 15px;


    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    border: none;
    border-radius: 10px;

    background: #ffffff;

    transition: background .2s linear,
    color 1s linear ;
}
.button-inormation:hover{
    background-color: rgb(178, 178, 178);
}
.box{
    height: 500px;
    overflow-y: auto;

}
.container-data{
    padding-left: 60px;
    padding-right: 60px;
}

.gap-week{
    display: flex;
    gap: 140px;
}
.about2{
    display: flex;
    justify-content: space-between;
}
