body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}main {
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;

     background: url("/img/RecordDentist Background.jpg") center no-repeat;
     -webkit-background-size: cover;
     background-size: cover;
 }
.register-form-container{
    max-width: 700px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;

}
.register-form-container2{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
}
.register-form-container3{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    display: flex;


}

.form-title{
    color: #000000;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 38px;
    text-align: center;
}
.form-title2{
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.button{
    margin-top: 38px;
    display: block;
    background: #035cd7;
    border-radius: 8px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    padding: 5px 275px;
    text-decoration: none;
    border: none;
}
.button:hover{
     background-color: #0020c9;
 }
.about2{
    display: flex;
    justify-content: space-between;
}
.container-dentist{
    display: flex;
    max-height: 1000px;
    justify-content: center;
    align-items: center;

}
.gap-week{
    display: flex;
    gap: 140px;
}
.button-dentist[type="radio"]{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -50px;
    width: 150px;
    height: 40px;
    z-index: 10;
    opacity: 0;
}
.button-dentist[type="radio"]:checked + .label-dentist{
    background-color: #0020c9;
    color: white;
}
.label-dentist{
    z-index: 0;
    position: relative;
    color: #0020c9;
    font-family: sans-serif;
    font-size: 16px;
    border: 2px solid #0020c9;
    border-radius: 10px;
    padding: 10px 40px;
    align-items: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.about2_item {
    padding-left: 20px;
    padding-right: 20px;

}
.container-services{
    padding-left: 30px;
    padding-right: 30px;
}
.button-services[type="radio"]{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -50px;
    width: 510px;
    height: 40px;
    z-index: 10;
    opacity: 0;
}
.button-services[type="radio"]:checked + .label-services{
    background-color: #0020c9;
    color: white;
}
.label-services{
    z-index: 0;
    position: relative;
    color: #0020c9;
    font-family: sans-serif;
    font-size: 18px;
    border: 2px solid #0020c9;
    border-radius: 10px;
    padding: 10px 35px;
    align-items: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.container-time{
    padding-left: 60px;
    padding-right: 60px;
}
.button-time{
    color: #0020c9;
    font-size: 18px;
    border: 2px solid #0020c9;
    border-radius: 100px;
    padding: 10px 35px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    margin-left: 5px;
    margin-right: 10px;
}
.container-data{
    padding-left: 60px;
    padding-right: 60px;
}
.button-data[type="radio"]{
    justify-content: space-between;
    display: none;
}
.container-week{
    padding: 15px 10px 10px 10px;
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
}
.button-week{
    background:  #0020c9;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px 15px;
}
.month{
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    margin-top: 6px;
    text-align: center;
    width: 150px;
}
img{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
}
.container-data .output-dates {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    column-gap: 20px;
    width: 450px;
    justify-content: space-between;
}
.output-dates div {
    margin: 5px 10px 10px;
    width: 50px;
    height: 50px;
    border: solid 2px  #0020c9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.not-active {
    opacity: 0.2;
    border: solid 1px  #0020c9 !important;
}
.data{
    display: flex;
    width: 1000px;
}
.active {
    background:  #0020c9 !important;
    color: #ffffff;
    opacity: 1 !important;
}