body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.input{

    height: 40px;
    width: 350px;
    border-radius: 10px;
    padding-left: 25px;
    border: none;
}
main{
    background: #FFFFFF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


    background: url("/img/RecordDentist Background.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;


}
.register-form-container{
    max-width: 415px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;

}
.form-title{
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 38px;
    text-align: center;

}
.form-field{
    margin-bottom: 13px;
}
.button{
    display: block;
    background: #035cd7;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 400;
}
a.button{
    text-decoration: none;
}
.button:hover{
    background-color: #0147a9;
}
.button-input{
    height: 40px;
    width: 375px;
    border-radius: 10px;
    padding-left: 25px;
    border: none;
    background: #035cd7;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
}
a.button-input{
    text-decoration: none;
}
.button-input:hover{
    background-color: #0147a9;
}
.divider{
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

}
img{

}
