<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link type="text/css" href="/dentistPage.css" th:href="@{dentistPage.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="logo"><a href="/" class="logo-img">
                <img class="img" src="../img/logotype.jpg" width="60" height="60"></a></div>
            <nav class="nav">
                <a class="nav_link" href="Main.html">Вийти</a>
            </nav>
        </div>
    </div>
</header>



<main class="main">
    <div class="register-form-container">
        <h1 >Ваші пацієнти</h1>
        <div class="register-form-container2">
            <div class="container-h2">
                <h2 >Ім’я</h2>
                <h2 >Телефон</h2>
                <h2 >Дату і час</h2>
                <h2 >Послугу</h2>
            </div>
            <div class="box">
                <div class="container-inormation" th:each="record : ${patientRecords}">
                    <div class="inormation" th:text="${record.patient.name}">Name</div>
                    <div class="inormation" th:text="${record.patient.phone}">phone</div>
                    <div class="inormation" th:text="${record.date}">Date</div>
                    <div class="inormation" th:text="${record.service.name}">Service</div>
                    <a class="button-inormation" th:href="@{/DentistPage/delete/{id}(id=${record.id})}">Видалити </a>
                </div>
            </div>

        </div>
    </div>

<!--    <div class="register-form-container2 select-day-container">-->
<!--        <div class="container-data">-->

<!--            <div class="gap-week">-->
<!--                <a class="button-week prev"> < </a>-->
<!--                <h2 class="month">Квітень</h2>-->
<!--                <a class="button-week next"> > </a>-->
<!--            </div>-->

<!--            <div class="container-week">-->
<!--                <div class="about2">-->
<!--                    <a class="days-week">Пн</a>-->
<!--                    <a class="days-week">Вт</a>-->
<!--                    <a class="days-week">Ср</a>-->
<!--                    <a class="days-week">Чт</a>-->
<!--                    <a class="days-week">Пт</a>-->
<!--                </div>-->

<!--            </div>-->


<!--            <input type="hidden" name="selected-date" value="" th:field="*{date}"/>-->
<!--            <div class="output-dates">-->

<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

</main>

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>-->
<!--    <script>-->
<!--        const calendarForm = document.querySelector('.container-data form')-->
<!--        const prevBtn = document.querySelector('.prev')-->
<!--        const nextBtn = document.querySelector('.next')-->
<!--        const monthTitle = document.querySelector('.month');-->
<!--        const dateInput = document.querySelector('.record-form input')-->
<!--        const dateOutput = document.querySelector('.output-dates');-->

<!--        let MONTH_INDEX = 0-->

<!--        const renderCalendar = function renderCalendarDays() {-->
<!--            dateOutput.innerHTML = null-->
<!--            let dates = []-->

<!--            const today = moment().add('month', MONTH_INDEX); // поточна дата-->
<!--            const firstDayOfMonth = moment(today).startOf('month'); // перший день поточного місяця-->
<!--            const lastDayOfMonth = moment(today).endOf('month'); // останній день поточного місяця-->
<!--            const daysInMonth = lastDayOfMonth.date(); // кількість днів у поточному місяці-->
<!--            getUkrainianMonthName(firstDayOfMonth.format('MMMM'))-->
<!--            let firstDayOfGrid = moment(firstDayOfMonth).startOf('week'); // перший день тижня, що міститься в сітці дат-->
<!--            let lastDayOfGrid = moment(lastDayOfMonth).endOf('week'); // останній день тижня, що міститься в сітці дат-->

<!--// якщо перше число місяця припадає на вівторок, то переносимо останній день попереднього місяця на понеділок-->
<!--            if (firstDayOfMonth.day() === 2) {-->
<!--                firstDayOfGrid = moment(firstDayOfMonth).subtract(1, 'week').startOf('week');-->
<!--                lastDayOfGrid = moment(lastDayOfMonth).add(1, 'week').endOf('week');-->
<!--            }-->

<!--            const numDays = 42 ; // загальна кількість днів у сітці дат (42)-->

<!--            for (let i = 0; i < numDays + 1; i++) {-->
<!--                const day = moment(firstDayOfGrid).add(i, 'days');-->
<!--                dates.push(day);-->
<!--            }-->

<!--            for (let i = 0; i < numDays; i++) {-->
<!--                const date = dates[i];-->
<!--                if(date.day() !== 0 && date.day() !== 6) {-->
<!--                    const isToday = date.isSame(today, 'day');-->
<!--                    const isCurrentMonth = date.isSame(firstDayOfMonth, 'month');-->
<!--                    const dateBlock = document.createElement('div');-->
<!--                    dateBlock.innerHTML = date.format('D')-->
<!--                    dateBlock.className = firstDayOfMonth.format('M') !== date.format('M') ? 'not-active date' : 'date'-->
<!--                    dateBlock.dataset.day = date.format('D.M.Y');-->
<!--                    dateBlock.addEventListener('click', event => {-->
<!--                        dateInput.value = event.target.dataset.day-->
<!--                        if(document.querySelector('.select-day-container .active')) {-->
<!--                            document.querySelector('.select-day-container .active').classList.remove('active')-->
<!--                        }-->
<!--                        dateBlock.classList.remove('active')-->
<!--                        event.target.classList.add('active')-->
<!--                    })-->
<!--                    dateOutput.appendChild(dateBlock);-->
<!--                }-->
<!--            }-->
<!--        }-->

<!--        renderCalendar()-->

<!--        prevBtn.addEventListener('click', () => {-->
<!--            MONTH_INDEX&#45;&#45;;-->
<!--            renderCalendar()-->
<!--        })-->

<!--        nextBtn.addEventListener('click', () => {-->
<!--            MONTH_INDEX++;-->
<!--            renderCalendar()-->
<!--        })-->


<!--        function getUkrainianMonthName(monthName) {-->
<!--            const lowerMonthName = monthName.toLowerCase()-->
<!--            const months = {-->
<!--                'january': 'Січень',-->
<!--                'february': 'Лютий',-->
<!--                'march': 'Березень',-->
<!--                'april': 'Квітень',-->
<!--                'may': 'Травень',-->
<!--                'june': 'Червень',-->
<!--                'july': 'Липень',-->
<!--                'august': 'Серпень',-->
<!--                'september': 'Вересень',-->
<!--                'october': 'Жовтень',-->
<!--                'november': 'Листопад',-->
<!--                'december': 'Грудень'-->
<!--            };-->

<!--            // переводимо назву місяця в нижній регістр і замінюємо першу букву на велику-->

<!--            monthTitle.innerHTML = months[lowerMonthName] || ''-->

<!--        }-->


<!--        // Other forms steps-->

<!--        ['.select-doctor-container', '.select-time-container', '.select-offer-container'].forEach(step => {-->
<!--            document.querySelector(step).addEventListener('click', event => {-->
<!--                if(!event.target.className.includes('form-item')){-->
<!--                    return false-->
<!--                }-->
<!--                document.querySelector(`${step} .active`)?.classList.remove('active')-->
<!--                event.target.classList.add('active')-->
<!--                document.querySelector(`${step} input`).value = event.target.textContent-->
<!--            })-->
<!--        })-->



<!--    </script>-->


</body>
</html>