<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/recordDentist.css">
  <meta charset="UTF-8">
  <title>Записатися до стоматолога</title>
</head>

<body>


<main>
  <div class="register-form-container">
    <h1 class="form-title">Запис до стоматолога</h1>

    <h2 class="form-title2">Виберіть дату</h2>

    <form class="record-form" action="#" th:action="@{/saveAppointment}" th:object="${appointmentData}" method="post">
<!--      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

      <div class="register-form-container2 select-day-container">
        <div class="container-data">

          <div class="gap-week">
            <a class="button-week prev"> < </a>
            <h2 class="month">Квітень</h2>
            <a class="button-week next"> > </a>
          </div>

          <div class="container-week">
            <div class="about2">
              <a class="days-week">Пн</a>
              <a class="days-week">Вт</a>
              <a class="days-week">Ср</a>
              <a class="days-week">Чт</a>
              <a class="days-week">Пт</a>
            </div>

          </div>


          <input type="hidden" name="selected-date" value="" th:field="*{date}"/>
          <div class="output-dates">

          </div>

        </div>
      </div>


      <h2 class="form-title2">Виберіть годину</h2>

      <div class="register-form-container2 select-time-container">
        <input type="hidden" name="time" value="" th:field="*{time}">
        <div class="container-time">

          <div class="about2">
            <div class="button-time form-item"  id="time1">10:00</div>
            <div class="button-time form-item"  id="time2">11:00</div>
            <div class="button-time form-item"  id="time3">12:00</div>
          </div>

          <div class="about2">
            <div class="button-time form-item"  id="time4">13:00</div>
            <div class="button-time form-item"  id="time5">14:00</div>
            <div class="button-time form-item"  id="time6">15:00</div>
          </div>

          <div class="about2">
            <div class="button-time form-item"  id="time7">16:00</div>
            <div class="button-time form-item"  id="time8">17:00</div>
            <div class="button-time form-item"  id="time9">18:00</div>
          </div>

          <div class="about2">
            <div class="button-time form-item"  id="time10">19:00</div>
            <div class="button-time form-item"  id="time11">20:00</div>
            <div class="button-time form-item"  id="time13">21:00</div>
          </div>

        </div>
      </div>


      <h2 class="form-title2">Виберіть послугу</h2>


      <div class="register-form-container2 select-offer-container">
        <div class="container-services" th:each="service : ${services}">
          <input class="button-services" type="radio" name="offer" th:field="*{serviceId}" th:value="${service.id}">
          <label class="label-services" th:text="${service.name}">Name</label>
        </div>
      </div>


      <h2 class="form-title2">Виберіть стоматолога</h2>

      <div class="register-form-container3 select-doctor-container">
        <div class="section3" th:each="dentist : ${dentists}">
          <div class="container-dentist">
            <div class="about2_item">
              <div class="about2_img">
                <img th:src="${dentist.photo}">
              </div>

              <input class="button-dentist" type="radio" th:field="*{dentistId}" th:value="${dentist.id}"/>
              <label class="label-dentist" th:text="${dentist.name}">Name</label>


            </div>
          </div>
        </div>
      </div>
      <input type="submit" class="button" value="Записатися">
    </form>

  </div>

</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script>
  const calendarForm = document.querySelector('.container-data form')
  const prevBtn = document.querySelector('.prev')
  const nextBtn = document.querySelector('.next')
  const monthTitle = document.querySelector('.month');
  const dateInput = document.querySelector('.record-form input')
  const dateOutput = document.querySelector('.output-dates');

  let MONTH_INDEX = 0

  const renderCalendar = function renderCalendarDays() {
    dateOutput.innerHTML = null
    let dates = []

    const today = moment().add('month', MONTH_INDEX); // поточна дата
    const firstDayOfMonth = moment(today).startOf('month'); // перший день поточного місяця
    const lastDayOfMonth = moment(today).endOf('month'); // останній день поточного місяця
    const daysInMonth = lastDayOfMonth.date(); // кількість днів у поточному місяці
    getUkrainianMonthName(firstDayOfMonth.format('MMMM'))
    let firstDayOfGrid = moment(firstDayOfMonth).startOf('week'); // перший день тижня, що міститься в сітці дат
    let lastDayOfGrid = moment(lastDayOfMonth).endOf('week'); // останній день тижня, що міститься в сітці дат

// якщо перше число місяця припадає на вівторок, то переносимо останній день попереднього місяця на понеділок
    if (firstDayOfMonth.day() === 2) {
      firstDayOfGrid = moment(firstDayOfMonth).subtract(1, 'week').startOf('week');
      lastDayOfGrid = moment(lastDayOfMonth).add(1, 'week').endOf('week');
    }

    const numDays = 42 ; // загальна кількість днів у сітці дат (42)

    for (let i = 0; i < numDays + 1; i++) {
      const day = moment(firstDayOfGrid).add(i, 'days');
      dates.push(day);
    }

    for (let i = 0; i < numDays; i++) {
      const date = dates[i];
      if(date.day() !== 0 && date.day() !== 6) {
        const isToday = date.isSame(today, 'day');
        const isCurrentMonth = date.isSame(firstDayOfMonth, 'month');
        const dateBlock = document.createElement('div');
        dateBlock.innerHTML = date.format('D')
        dateBlock.className = firstDayOfMonth.format('M') !== date.format('M') ? 'not-active date' : 'date'
        dateBlock.dataset.day = date.format('D.M.Y');
        dateBlock.addEventListener('click', event => {
          dateInput.value = event.target.dataset.day
          if(document.querySelector('.select-day-container .active')) {
            document.querySelector('.select-day-container .active').classList.remove('active')
          }
          dateBlock.classList.remove('active')
          event.target.classList.add('active')
        })
        dateOutput.appendChild(dateBlock);
      }
    }
  }

  renderCalendar()

  prevBtn.addEventListener('click', () => {
    MONTH_INDEX--;
    renderCalendar()
  })

  nextBtn.addEventListener('click', () => {
    MONTH_INDEX++;
    renderCalendar()
  })


  function getUkrainianMonthName(monthName) {
    const lowerMonthName = monthName.toLowerCase()
    const months = {
      'january': 'Січень',
      'february': 'Лютий',
      'march': 'Березень',
      'april': 'Квітень',
      'may': 'Травень',
      'june': 'Червень',
      'july': 'Липень',
      'august': 'Серпень',
      'september': 'Вересень',
      'october': 'Жовтень',
      'november': 'Листопад',
      'december': 'Грудень'
    };

    // переводимо назву місяця в нижній регістр і замінюємо першу букву на велику

    monthTitle.innerHTML = months[lowerMonthName] || ''

  }


  // Other forms steps

  ['.select-doctor-container', '.select-time-container', '.select-offer-container'].forEach(step => {
    document.querySelector(step).addEventListener('click', event => {
      if(!event.target.className.includes('form-item')){
        return false
      }
      document.querySelector(`${step} .active`)?.classList.remove('active')
      event.target.classList.add('active')
      document.querySelector(`${step} input`).value = event.target.textContent
    })
  })



</script>
</body>
</html>