<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../static/RecordDentist.css">
  <meta charset="UTF-8">
  <title>Записатися до стоматолога</title>
</head>

<body>


<main>
  <div class="register-form-container">
    <h1 class="form-title">Запис до стоматолога</h1>

    <h2 class="form-title2">Виберіть дату</h2>

    <div class="register-form-container2">
      <div class="container-data">

        <div class="gap-week">
          <a class="button-week prev"> < </a>
          <h2 class="month">Квітень</h2>
          <a class="button-week next"> > </a>
        </div>

        <div class="container-week">
          <div class="about2">
            <a class="days-week">Пн</a>
            <a class="days-week">Вт</a>
            <a class="days-week">Ср</a>
            <a class="days-week">Чт</a>
            <a class="days-week">Пт</a>
          </div>
        </div>

        <form action="" class="data">
          <input type="hidden" name="selected-date" value="" />
          <div class="output-dates"></div>
        </form>


      </div>
    </div>


    <h2 class="form-title2">Виберіть годину</h2>

    <div class="register-form-container2">
      <div class="container-time">
        <form action="">
          <div class="about2">
            <input class="button-time" type="radio" name="size" id="time1">
            <label class="label-time" for="time1">10:00</label>
            <input class="button-time" type="radio" name="size" id="time2">
            <label class="label-time" for="time2">11:00</label>
            <input class="button-time" type="radio" name="size" id="time3">
            <label class="label-time" for="time3">12:00</label>
          </div>

          <div class="about2">
            <input class="button-time" type="radio" name="size" id="time4">
            <label class="label-time" for="time4">13:00</label>
            <input class="button-time" type="radio" name="size" id="time5">
            <label class="label-time" for="time5">14:00</label>
            <input class="button-time" type="radio" name="size" id="time6">
            <label class="label-time" for="time6">15:00</label>
          </div>


          <div class="about2">
            <input class="button-time" type="radio" name="size" id="time7">
            <label class="label-time" for="time7">16:00</label>
            <input class="button-time" type="radio" name="size" id="time8">
            <label class="label-time" for="time8">17:00</label>
            <input class="button-time" type="radio" name="size" id="time9">
            <label class="label-time" for="time9">18:00</label>
          </div>



          <div class="about2">
            <input class="button-time" type="radio" name="size" id="time10">
            <label class="label-time" for="time10">19:00</label>
            <input class="button-time" type="radio" name="size" id="time11">
            <label class="label-time" for="time11">20:00</label>
            <input class="button-time" type="radio" name="size" id="time12">
            <label class="label-time" for="time12">21:00</label>
          </div>
        </form>
      </div>
    </div>


    <h2 class="form-title2">Виберіть послугу</h2>


    <div class="register-form-container2">
      <div class="container-services">
        <form action="">

          <input class="button-services" type="radio" name="size" id="services1">
          <label class="label-services" for="services1">Цифрова стоматологія CEREC</label>
          <input class="button-services" type="radio" name="size" id="services2">
          <label class="label-services" for="services2">Лікування зубів</label>
          <input class="button-services" type="radio" name="size" id="services3">
          <label class="label-services" for="services3">Пародонтологія</label>
          <input class="button-services" type="radio" name="size" id="services4">
          <label class="label-services" for="services4">Хірургія</label>
          <input class="button-services" type="radio" name="size" id="services5">
          <label class="label-services" for="services5">Протезування</label>
          <input class="button-services" type="radio" name="size" id="services6">
          <label class="label-services" for="services6">Дитяча стоматологія</label>
          <input class="button-services" type="radio" name="size" id="services7">
          <label class="label-services" for="services7">Ортодонтія</label>
          <input class="button-services" type="radio" name="size" id="services8">
          <label class="label-services" for="services8">Відбілювання</label>
          <input class="button-services" type="radio" name="size" id="services9">
          <label class="label-services" for="services9">Імплантація</label>

        </form>
      </div>
    </div>


    <h2 class="form-title2">Виберіть стоматолога</h2>



    <div class="register-form-container2">
      <div class="section3">
        <form action="">


          <div class="container-dentist">
            <div class="about2_item">
              <div class="about2_img">
                <img src="../img/team1.jpg">
              </div>
              <input class="button-dentist" type="radio" name="size" id="dentist1">
              <label class="label-dentist" for="dentist1">ВІКТОР</label>
            </div>
            <div class="about2_item">
              <div class="about2_img">
                <img src="../img/team2.jpg">
              </div>
              <input class="button-dentist" type="radio" name="size" id="dentist2">
              <label class="label-dentist" for="dentist2">ЛЕСЯ</label>
            </div>
            <div class="about2_item">
              <div class="about2_img">
                <img src="../img/team3.jpg">
              </div>
              <input class="button-dentist" type="radio" name="size" id="dentist3">
              <label class="label-dentist" for="dentist3">ДАНИЛО</label>
            </div>
          </div>
          <div class="container-dentist">
            <div class="about2_item">
              <div class="about2_img">
                <img src="../img/team4.jpg">
              </div>
              <input class="button-dentist" type="radio" name="size" id="dentist4">
              <label class="label-dentist" for="dentist4">МАРІЯ</label>
            </div>
            <div class="about2_item">
              <div class="about2_img">
                <img src="../img/team5.jpg">
              </div>
              <input class="button-dentist" type="radio" name="size" id="dentist5">
              <label class="label-dentist" for="dentist5">ІРИНА</label>
            </div>
            <div class="about2_item">
              <div class="about2_img">
                <img src="../img/team6.jpg">
              </div>
              <input class="button-dentist" type="radio" name="size" id="dentist6">
              <label class="label-dentist" for="dentist6">ЮЛІЯ</label>
            </div>
          </div>



        </form>
      </div>
    </div>



    <a  class="button" href="UserPage.html">Записатися</a>

  </div>


</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="/templates/js/main.js"></script>
</body>
</html>