<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"><head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <link type="text/css" href="/userPage.css" th:href="@{userPage.css}" rel="stylesheet"/>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>


<header class="header">
  <div class="container">
    <div class="header_inner">
      <div class="logo"><a href="/" class="logo-img">
        <img class="img" src="../img/logotype.jpg" width="60" height="60"></a></div>
      <nav class="nav">
        <a class="nav_link" href="/">На головну</a>
        <a sec:authorize="isAuthenticated()" class="nav_link" href=/logout>вийти з аккаунта</a>
        <div class="name"  sec:authentication="name"></div>
      </nav>
    </div>
    </div>
  </div>
</header>

<main class="main">
  <div class="register-form-container">
    <h1 class="h1" >Ваші записи до стоматолога </h1>
    <div class="box">
      <div class="about">
        <a class="button" href="/appointment" >+</a>
      </div>

      <div class="section" th:each="record : ${patientRecords}">
        <div class="container-dentist">
          <img class="img-dentist" th:src="${record.dentist.photo}">
          <div class="container-inormation">
            <div class="inormation" th:text="${record.dentist.name}">Name</div>
            <div class="inormation" th:text="${record.service.name}">Service</div>
            <div class="inormation" th:text="${record.date}">Date</div>
          </div>
        </div>
        <div class="container-button-inormation">
          <a class="button-inormation" th:href="@{UserPage/edit/{id}(id=${record.id})}">Редагувати запис</a>
          <a class="button-inormation" th:href="@{UserPage/delete/{id}(id=${record.id})}">Видалити </a>
        </div>
      </div>
    </div>

  </div>
</main>


</body>
</html>