<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../static/UserPage.css">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<header class="header">
  <div class="container">
    <div class="header_inner">
      <div class="logo"><a href="Main.html" class="logo-img">
        <img class="img" src="../img/logotype.jpg" width="60" height="60"></a></div>
        <nav class="nav">
          <a class="nav_link" href="Main.html">Вийти</a>
        </nav>
    </div>
  </div>
</header>

<main class="main">
  <div class="register-form-container">
    <h1 class="h1" >Ваші записи до стоматолога </h1>
    <div class="about">
      <a class="button" href="RecordDentist.html" >+</a>
      <a class="button" href="RecordDentist.html" >+</a>
    </div>
    <div class="about">
      <a class="button" href="RecordDentist.html" >+</a>
      <a class="button" href="RecordDentist.html" >+</a>
    </div>
  </div>
</main>


</body>
</html>